<h1><%= t :users %></h1>

<div class="row">
  <div class="col-md-12">
    <%= form_tag users_path, method: :get do |f| %>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="<%= t :search %>" name="q" value="<%= @q %>">
            <div class="input-group-btn">
              <button id="search" class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="mu-list-group">
  <% @users.each do |it| %>
      <a class="mu-list-group-item" href="<%= user_path it.uid %>">
        <i class="fa fa-fw fa-pencil"></i>
        <span class="mu-divider-vertical"></span>
        <span><%= it.to_s %></span>
      </a>
  <% end %>
</div>

<div class="row">
  <%= paginate @users %>
  <br>
</div>

<a href="<%= new_user_path %>" class="btn btn-success pull-right"><%= t :new_user %></a>