<!DOCTYPE html>
<html>
<head>
  <title>Office</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="container" id="wrap">
  <div class="row">
    <% if flash.notice.present? %>
        <div class="alert alert-success" role="alert">
          <%= flash.notice.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% elsif flash.alert.present? %>
        <div class="alert alert-danger" role="alert">
          <%= flash.alert.html_safe %>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% end %>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>
<footer class="mu-footer"></footer>
</body>
</html>
